<div class="container-fluid">
  <div class="title">
    <h1 class="title-text">LINEカプセル</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="mx-auto" style="width: 116px;">
    <a class="mx-0" href="https://lin.ee/7nsoaaw">
      <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0" width="120">
    </a>
  </div>
</div>