@import "bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";
@import "header_footer";
@import "modal";

body {
  background-color: #c2d9fe;
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
  color: #3683ff
}

.wrapper{
  margin-bottom: 85px
}

.navbar-dark .navbar-nav .nav-link{
  font-size: large;
  color: white;
}

#letter-text{
  color: black;
}

#record-text{
  color: gray;
}

.record-field{
  display: none;
}

.link{
  opacity: 0.7;
}

.link:hover{
  opacity: 1;
  text-decoration: underline;
}

#sent{
  display: none;
}

.btn-original{
  color: yellow;
  opacity: 0.8;
  padding: 2px;
  background: none;
  border: none;
  position: fixed;
  bottom: 90px;
  right: 12px;

  i{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  }
}
