@import "bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";
@import "header_footer";
@import "modal";

body {
  background-color: #EBECED;
  font-family: "Lucida Grande", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "MS Pゴシック", "MS P Gothic", "Osaka", sans-serif;
  color: #000
}

.wrapper {
  margin-bottom: 85px
}

.navbar-dark .navbar-nav .nav-link {
  font-size: large;
  color: white;
}

.bg {
  background-color: white;
  .link {
    color: #000
  }
  .link-small {
    color: #6c757d;
  }
}

.bg:hover {
  background-color: gray;
  .link, .link-small {
    color: #FFF
  }
}

#after-text{
  color: gray;
}

.after-events-field {
  display: none;
}
