@import"bootstrap";

body {
  background-color: #c2d9fe;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

nav{
  background-color: #3683ff;

  .nav-title, .navbar-toggler-icon{
    color: white;
    font-size: 1.5rem;
  }
}

.navbar-dark .navbar-nav .nav-link{
  font-size: large;
  color: white;
}