footer{
  a{
    color: gray;
    font-weight: bold;
  }

  a:hover{
    color: black;
    background-color: #f8f9fa
  }
}

.set-top{
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.set-bottom{
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

nav, footer{
  background-color: #bcbcbc;

  .nav-title, .navbar-toggler-icon{
    color: white;
    font-size: 1.3rem;
  }
}

#after-text{
  color: gray;
}

.after-events-field {
  display: none;
}

#first-text{
  color: gray;
}

.first-events-field {
  display: none;
}

#second-text{
  color: gray;
}

.second-events-field {
  display: none;
}

#third-text{
  color: gray;
}

.third-events-field {
  display: none;
}